{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "envName": "server",
      "targets": {
        "node": "current"
      }
    }],
    ["@babel/preset-stage-2"]
  ],
  "plugins": [
    "@babel/plugin-syntax-export-default-from"
  ]
}
